In [2]:
import pandas as pd
import numpy as np

df = pd.read_json("polymers_tend_to_crystalize.json")

df = df.drop(columns=["property"]).rename(columns={"value": "crystalize"})

df = pd.concat([df, pd.DataFrame(np.stack(df.fingerprint))], axis=1).drop(
    columns=["fingerprint"]
)
df.to_json("polymers_tend_to_crystalize_format2.json", orient="records")
df

,smiles,crystalize,0,1,2,3,4,5,6,7,...,2038,2039,2040,2041,2042,2043,2044,2045,2046,2047
0,[*]C[*],47.80,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,[*]CC([*])C,44.47,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,[*]CC([*])CC,34.04,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,[*]CC([*])CCC,20.01,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,[*]CC([*])CC(C)C,21.64,0,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,[*]C([*])(F)F,31.84,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
428,[*]C/C=C\C[*],25.58,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
429,[*]O[Si](C)(C)CCCC(=O)Oc1ccc(C=Nc2ccc(N=Cc3ccc...,29.05,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
430,[*]O[Si](C)(C)CCCC(=O)Oc1ccc(C=Nc2ccc(Cc3ccc(N...,21.74,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
431,[*]CCN(CCCCCCOc1ccc(C=Cc2ccc([N+](=O)[O-])cc2)...,7.55,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1